html,
body,
.App {
  text-align: center;
  height: 100%;
  margin: 0;
  background-color: rgb(241, 227, 227);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.slide-header {
  animation: rotating 1.5s ease-in-out infinite
    alternate-reverse;
}

@keyframes rotating {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.count-down {
  font-size: 1.5rem;
}

.times-up {
  color: salmon;
}

/* WHO WATCH */

.who-watch {
  position: relative;
}

.who-watch span {
  background-color: #666;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border-radius: 2rem;
}

.plus:last-child {
  border-radius: 50%;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.btns {
  padding-top: 2rem;
}
.user-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.add-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(204, 148, 148);
  padding: 2rem;
}

.add-user .close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.movie {
  padding: 1rem;
  background-color: #333;
  color: white;
}

/* User */

.user {
  transition: all 0.2s;
}

.user svg:hover {
  transform: scale(1.03);
}

.edit-mode {
  position: relative;
}

.edit-mode::after {
  content: 'EDIT';
  letter-spacing: 0.1rem;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.6);
  color: aliceblue;
  cursor: pointer;
  box-shadow: 0 2px 2px 0px #222;
  transform: translate(-50%, -50%);
}
